body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 2.5em;
	padding: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
	border-style: none none dashed none;
	border-width: 1px;
	border-color: #333;
}

.name {
	position: relative;
}

.nameContainer {
	position: static;	
}

.thingInput {
	vertical-align: text-top !important;
	box-sizing: border-box !important;
	font-size: .75em !important;
	width: 100% !important;
}

.thingContainer{
	position: relative;	
	clear: left;	
	cursor: default;
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	border-bottom-color: #ccc;
}

.control {
	float: left;
	padding-right: 5px;
	margin-right: 5px;
	text-decoration: none;
	border-style: none;	
	border-right-style: dashed;
	border-right-width: 2px;
	border-right-color: #ccc;
}

.struck {
	text-decoration: line-through;
}

.delete {
	clear: left;
}

.instructions {
	display: none;
}


.none {
	color: #777;
}

@media screen and (max-device-width: 800px), 
	(device-aspect-ratio: 3/4), 
	(device-aspect-ratio: 40/71), 
	(device-aspect-ratio: 2/3){
		
	.delete { display: none; }
	.strike { display: none; }
	
	.instructions{
		display: block;
		padding: 0px 5px 5px 5px;
		color: #777;		
		font-size: .75em;
	}
	
	.instructions input {
		text-align: right;
		font-size: .75em;
	}
	
	.guide { 
		margin: 0px 0px 10px 0px;		
		border-bottom-style: dashed;
		border-bottom-width: 2px;
		border-bottom-color: #ccc;
	}
	
	.thingContainer{
		border-style: none none dashed none;
		border-color: #ccc;
		border-width: 2px;		
	}
}



/** Animations are used to simulate some touch movements **/
.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}
.animated.hinge {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}
@-webkit-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}

}

@-moz-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}

}

@-o-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}

}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-20px);
	}

}

.fadeOutLeft {
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}


@-webkit-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}

}

@-moz-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}

}

@-o-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateX(20px);
	}

}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(20px);
	}

}

.fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	-moz-animation-name: fadeOutRight;
	-o-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}

